<header>
    <div class="contenido">
  <div class="imagen-header">
    <img src="../public/logos/img.svg" class="section__img" />
  </div>

  <div class="textos-header">
    <h2 class="subtitulo"><strong>Bienvenido a Black Belt</strong></h2>
    <a class="button" href="/users/signin">
      Iniciar Sessión
    </a>
  </div>
  <div class="absolute"></div>
</div>
</header>