
    <div id="contenedor" class="container">

         <div class="card mb-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img id="galeria" src="/public/logos/galeria.png" alt="">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Galeria de Fotos</h5>
                        <p class="card-text">Comparte tus fotografias</p>
                        <a class="btn btn-outline-success" href="/vista">Galería</a>
                    </div>
                </div>
            </div>
        </div>

         <div class="card mb-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img id="galeria" src="/public/logos/usuarios.png" alt="">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Contactos de la Red Social</h5>
                        <p class="card-text">Conoce a los Usuarios Registrados</p>
                        <a class="btn btn-outline-success" href="/users/contactos">Usuarios</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img id="galeria" src="/public/logos/publicaciones.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">¿Deseas Publicar algo?</h5>
                        <p class="card-text">Publica lo que piensas</p>
                        <a class="btn btn-outline-success" href="/users/publicacion">Publicaciones</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img id="galeria" src="/public/logos/informacion.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Información de Usuario</h5>
                        <p class="card-text">Ingrese su información</p>
                        <a class="btn btn-outline-success" href="/users/personal">Información</a>
                    </div>
                </div>
            </div>
        </div>


         <div class="card mb-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img id="galeria" src="/public/logos/chat.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Chat</h5>
                        <p class="card-text">Chatea con los usuarios de la red social</p>
                        <a class="btn btn-outline-success" href="/users/chat">Chat</a>
                    </div>
                </div>
            </div>
        </div>


   
        
    </div>
